<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cadastrar Serviço</title>
    <link rel='stylesheet' href='/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/css/adminlte.min.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <main>
      <div class='content-header'>
        <div class='container-fluid'>
          <h1>Novo Serviço</h1>
        </div>
        <div class='content'>
          <div class='container-fluid'>
            <form action='/servicos' method='post'>
              <div class='card'>
                <div class='card-body'>
                  <fieldset>
                    <legend>Identificação</legend>
                    <div class='row'>
                      <div class='col-md-4'>

                        <div class='form-group'>
                          <label for='nome'>Nome</label>
                          <input
                            type='text'
                            name='nome'
                            class='form-control'
                            placeholder='Nome do seriviço'
                          />
                        </div>
                      </div>
                      <div class='col-md-4'>

                        <div class='form-group'>
                          <label for='icone'>Icone</label>
                          <select name='icone' id='icone' class='form-control'>
                            <option value=''>Selecione o ícone do serviço</option>
                            <option value='twf-cheaning-1'>Icone 1</option>
                            <option value='twf-cheaning-2'>Icone 2</option>
                            <option value='twf-cheaning-3'>Icone 3</option>
                          </select>

                        </div>
                      </div>
                      <div class='col-md-4'>
                        <div class='form-group'>
                          <label for='posicao'>Posição na plataforma</label>
                          <input
                            type='text'
                            name='posicao'
                            class='form-control'
                            placeholder='Posição do serviço da plataforma'
                          />
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Globais</legend>
                    <div class='row'>
                      <div class='col-md-4'>
                        <div class='form-group'>
                          <label for='valorMinimo'>Valor mínimo</label>
                          <input
                            type='text'
                            name='valorMinimo'
                            class='form-control'
                            placeholder='Valor minimo do serviço'
                          />
                        </div>
                      </div>
                      <div class='col-md-4'>
                        <div class='form-group'>
                          <label for='quantidadeHoras'>Quantidade mínima de
                            horas</label>
                          <input
                            type='number'
                            name='quantidadeHoras'
                            class='form-control'
                            placeholder='Quantidade mínima de horas'
                          />
                        </div>
                      </div>
                      <div class='col-md-4'>
                        <div class='form-group'>
                          <label for='porcentagem'>Porcentagem da comissão</label>
                          <input
                            type='text'
                            name='porcentagem'
                            class='form-control'
                            placeholder='Porcentagem da comissão'
                          />
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Cômodos</legend>
                    <div class='row'>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='valorQuarto'>Valor por quarto</label>
                          <input
                            type='text'
                            name='valorQuarto'
                            class='form-control'
                            placeholder='Valor por quarto'
                          />
                        </div>
                      </div>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='horasQuarto'>Quantidade de horas por
                            quarto</label>
                          <input
                            type='text'
                            name='horasQuarto'
                            class='form-control'
                            placeholder='Quantidade de horas por quarto'
                          />
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='valorSala'>Valor por Sala</label>
                          <input
                            type='text'
                            name='valorSala'
                            class='form-control'
                            placeholder='Valor por Sala'
                          />
                        </div>
                      </div>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='horasSala'>Quantidade de horas por salas</label>
                          <input
                            type='text'
                            name='horasSala'
                            class='form-control'
                            placeholder='Quantidade de horas por salas'
                          />
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='valorBanheiro'>Valor por Banheiro</label>
                          <input
                            type='text'
                            name='valorBanheiro'
                            class='form-control'
                            placeholder='Valor por Banheiro'
                          />
                        </div>
                      </div>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='horasBanheiro'>Quantidade de horas por
                            banheiro</label>
                          <input
                            type='text'
                            name='horasBanheiro'
                            class='form-control'
                            placeholder='Quantidade de horas por banheiro'
                          />
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='valorCozinha'>Valor por cozinha</label>
                          <input
                            type='text'
                            name='valorCozinha'
                            class='form-control'
                            placeholder='Valor por cozinha'
                          />
                        </div>
                      </div>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='horasCozinha'>Quantidade de horas por
                            cozinha</label>
                          <input
                            type='text'
                            name='horasCozinha'
                            class='form-control'
                            placeholder='Quantidade de horas por cozinha'
                          />
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='valorQuintal'>Valor por quintal</label>
                          <input
                            type='text'
                            name='valorQuintal'
                            class='form-control'
                            placeholder='Valor por quintal'
                          />
                        </div>
                      </div>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='horasQuintal'>Quantidade de horas por
                            quintal</label>
                          <input
                            type='text'
                            name='horasQuintal'
                            class='form-control'
                            placeholder='Quantidade de horas por quintal'
                          />
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='valorOutros'>Valor por outros</label>
                          <input
                            type='text'
                            name='valorOutros'
                            class='form-control'
                            placeholder='Valor por outros'
                          />
                        </div>
                      </div>
                      <div class='col-md-6'>
                        <div class='form-group'>
                          <label for='horasOutros'>Quantidade de horas por
                            outros</label>
                          <input
                            type='text'
                            name='horasOutros'
                            class='form-control'
                            placeholder='Quantidade de horas por outros'
                          />
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class='row'>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <button
                          class='btn btn-primary'
                          type='submit'
                        >Salvar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>